body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif; }

#headerALL .container .header_logo {
  transition: .3s all ease;
  position: relative;
  text-align: left;
  padding: 38px 15px 0;
  display: flex; }
#headerALL .container .number {
  margin-left: auto;
  display: flex;
  width: 30vw;
  justify-content: space-between; }
#headerALL .container .phone {
  display: flex; }
#headerALL .container .phone_left, #headerALL .container .phone_right {
  position: relative;
  width: 50px;
  line-height: 50px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background: #e5e5e5;
  border-radius: 100%;
  margin-right: 13px; }
  #headerALL .container .phone_left i, #headerALL .container .phone_right i {
    position: absolute;
    top: 11px;
    left: 14px;
    color: #18AFD3; }
#headerALL .container .phone_right i {
  position: absolute;
  top: 11px;
  left: 16px;
  color: #18AFD3; }
#headerALL .container .nav1 {
  position: relative;
  top: 32px; }
  #headerALL .container .nav1 .nav_page {
    background: white;
    display: none;
    position: absolute;
    width: 100%; }
    #headerALL .container .nav1 .nav_page .row {
      box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
      padding: 20px;
      width: 100%;
      margin: 0; }
      #headerALL .container .nav1 .nav_page .row h6 {
        color: black;
        line-height: 1.33333;
        font-size: 18px; }
      #headerALL .container .nav1 .nav_page .row ul {
        padding: 0;
        overflow: hidden; }
        #headerALL .container .nav1 .nav_page .row ul li {
          list-style: none;
          padding: 8px 15px 8px 0px;
          transform: translateX(-2%); }
          #headerALL .container .nav1 .nav_page .row ul li a {
            text-transform: capitalize;
            font-size: 14px;
            font-family: "Lato", Helvetica, Arial, sans-serif;
            color: #18afd3;
            white-space: normal; }
#headerALL .container .nav {
  height: 60px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #18afd3;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto; }
#headerALL .container .nav > li > a:hover, #headerALL .container .nav > li > a:focus {
  text-decoration: none;
  background-color: #F57E57; }
#headerALL .container .nav li i {
  font-size: 12px;
  margin-left: 6px; }
#headerALL .container .nav li a {
  color: white;
  padding: 18px 24px;
  font-size: 17px;
  display: flex;
  align-items: center; }
#headerALL .container .phone_l span {
  font-size: 16px; }
#headerALL .header_down {
  height: 345px;
  background: url("../img/12.jpg");
  background-size: cover; }
  #headerALL .header_down .container h1 {
    line-height: 3.25;
    font-size: 80px;
    color: white; }
  #headerALL .header_down .container ul {
    display: flex; }
    #headerALL .header_down .container ul li {
      color: white;
      list-style: none;
      margin-right: 10px;
      font-size: 16px; }
      #headerALL .header_down .container ul li a {
        color: white; }
      #headerALL .header_down .container ul li i {
        font-size: 13px;
        color: #A6D5E0; }
#headerALL .boolshit {
  height: 800px; }
#headerALL .foot {
  padding-top: 66px;
  height: 380px;
  background: #038EAF; }
  #headerALL .foot .container {
    height: 50px; }
  #headerALL .foot .socialF {
    margin: 0;
    padding: 0;
    display: flex; }
    #headerALL .foot .socialF li {
      transition: ease 1s;
      list-style: none;
      width: 40px;
      height: 40px;
      background: white;
      border-radius: 100%;
      margin-left: 10px; }
      #headerALL .foot .socialF li i {
        padding-top: 10px;
        padding-left: 11px;
        font-size: 20px;
        color: gray; }
    #headerALL .foot .socialF li:hover {
      background: #F57E57; }
      #headerALL .foot .socialF li:hover i {
        color: white; }
  #headerALL .foot .offset-top {
    margin-top: 8.5em; }
  #headerALL .foot .text-subline {
    position: relative; }
  #headerALL .foot .text-subline::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    height: 1px;
    width: 50px;
    background: #f57e57; }
  #headerALL .foot h6 {
    color: white;
    line-height: 1.33333;
    font-size: 18px; }
  #headerALL .foot p {
    color: #32A3BE; }
  #headerALL .foot .footerI {
    padding-bottom: 7px; }
    #headerALL .foot .footerI a {
      padding-left: 7px;
      color: white; }
    #headerALL .foot .footerI i {
      color: #F57E57;
      font-size: 24px; }
  #headerALL .foot .footerInput {
    position: relative; }
    #headerALL .foot .footerInput button {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%; }
    #headerALL .foot .footerInput .btn-primary {
      color: #fff;
      background-color: #f57e57;
      border-color: #f57e57; }
    #headerALL .foot .footerInput .btn-primary:hover {
      color: #fff;
      background-color: #55BBEB;
      border-color: #f57e57; }
  #headerALL .foot .policy {
    border-top: 1px solid #0788A7;
    margin-top: 45px; }
    #headerALL .foot .policy p {
      color: rgba(255, 255, 255, 0.5);
      padding-top: 10px; }
#headerALL .nav1 .galleryNav {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  background: white;
  width: 240px;
  position: absolute;
  right: 14.5%;
  display: none; }
  #headerALL .nav1 .galleryNav ul li {
    padding: 19px 0 4px 0px;
    margin-left: -15px;
    margin-right: 25px;
    list-style: none; }
    #headerALL .nav1 .galleryNav ul li a {
      padding: 8px 15px 8px 0px;
      font-size: 14px;
      font-family: "Lato", Helvetica, Arial, sans-serif;
      color: #18afd3; }
#headerALL .nav1 .blogNav {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  background: white;
  width: 240px;
  position: absolute;
  right: 3.9%;
  display: none; }
  #headerALL .nav1 .blogNav ul li {
    padding: 19px 0 4px 0px;
    margin-left: -15px;
    margin-right: 25px;
    list-style: none; }
    #headerALL .nav1 .blogNav ul li a {
      padding: 8px 15px 8px 0px;
      font-size: 14px;
      font-family: "Lato", Helvetica, Arial, sans-serif;
      color: #18afd3; }

/*# sourceMappingURL=style.css.map */
